.idea/*
build/*
node_modules/.*

node_modules/http-server

node_modules/bluebird/js/release
node_modules/bluebird/*.md
node_modules/bluebird/*.json
node_modules/bluebird/LICENSE
node_modules/bluebird/js/browser/bluebird.js

node_modules/qwest/*
!node_modules/qwest/qwest.min.js

node_modules/codemirror/addon
node_modules/codemirror/bin
node_modules/codemirror/keymap
node_modules/codemirror/mode
node_modules/codemirror/theme
node_modules/codemirror/*.md
node_modules/codemirror/*.json
node_modules/codemirror/AUTHORS
node_modules/codemirror/.*
